<p id="notice"><%= notice %></p>

<h1>Listing Picas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picas.each do |pica| %>
      <tr>
        <td><%= pica.name %></td>
        <td><%= pica.description %></td>
        <td><%= pica.picture %></td>
        <td><%= link_to 'Show', pica %></td>
        <td><%= link_to 'Edit', edit_pica_path(pica) %></td>
        <td><%= link_to 'Destroy', pica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pica', new_pica_path %>
